.mystorytext {
  background-color: rgb(229, 253, 253);
  width: 75%;
  margin: auto;
  line-height: 30px;
  letter-spacing: 2px;
}

.background-image {
  margin-top: 200px;
}
@media only screen and (max-width: 600px) {
.background-image {
  margin-top: 400px;
}
}