.About-Me {
  background-color: rgb(238, 248, 252);
  font-family: "Titillium Web", sans-serif;
  font-size: 15px;
}
.background-image {
  max-height: 800px;
  border-radius: 80px;
  width: 400px;
}
.heading {
  animation: rainbow 7s infinite;
  font-size: 30px;
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.mylogoname {
  font-size: 18px;
  position: absolute;
  top: 147px;
  left: 44px;
}

.pictureDescription {
  font-family: "Caveat";
  font-size: 40px;
}

.linkedinContainer {
  display: flex;
  justify-content: center;
}
.bird-portrait img {
  border-radius: 50%;
  width: 65%;
}

.MySocialMedia {
  width: 250px;
  height: 200px;
}
#linkedinLogo {
  top: 435px;
  left: 41%;
  width: 207px;
}
#gitHubLogo {
  width: 116px;
  top: 524px;
  left: 45%;
}
.Inner-Wrapper {
  padding: 23px;
  max-width: 600px;
  margin: auto;
}

@media only screen and (max-width: 300px) {
  .heading {
    animation: rainbow 7s infinite;
    font-family: "Rubik", sans-serif;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
  }

  .mylogoname {
    font-size: 10px;
    position: absolute;
    top: 73px;
    left: 20px;
  }
  .heading img {
    width: 90px;
  }
}

/* 
  .About-Me-Text {
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
  }
  .About-Me h2 {
    letter-spacing: 4px;
    font-size: 30px;
    margin-bottom: 10px;
  } */

@keyframes rainbow {
  0% {
    color: purple;
  }
  25% {
    color: palevioletred;
  }
  50% {
    color: orangered;
  }
  75% {
    color: pink;
  }
  100% {
    color: goldenrod;
  }
}

.react-logo {
  padding-top: 4px;
  font-size: 60px;
  color: lightskyblue;
}

.techStack-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.techStack-language {
  width: 60px;
}
.techStack-item {
  display: flex;
  align-items: center;
}
