.App {
  /* background-image: url("portfoilio.jpg"); */
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-position: center;
  min-height: 800px;
}

.logo {
  display: flex;
  justify-content: center;
}

.bird {
  margin-top: -136px;
}
.About-Me {
  background-color: pink;
  font-family: "Caveat", cursive;
}
.background-image {
  max-height: 800px;
}
.heading {
  animation: rainbow 7s infinite;
  
}

@keyframes rainbow {
  
  0% {
    color: purple;
  }
  25% {
    color: palevioletred;
  }
  50% {
    color: orangered;
  }
  75% {
    color: pink;
  }
  100% {
    color: goldenrod;
  }
}

/* @keyframes rainbow {
  from {
    color: purple;
  }
  to {
    color: palevioletred;
  }
} */
